/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');    


// Color
$bg-body:#282C33;
$color-primary:#C778DD;
$color-gray:#ABB2BF;
$color-white:#FFFFFF;

// Font
$Fira-font:"Fira Code", monospace;